<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Navegação</h2>
    <ul>
        <li><a href={{url_for('index')}}>Início</a></li>
        <li><a href={{url_for('favoritos')}}>Favoritos</a></li>
        <li><a href={{url_for('usuario')}}>Usuário</a></li>
        <li><a href={{url_for('produtos')}}>Produtos</a></li>
        <li><a href={{url_for('categoria')}}>Configurar Categoria</a></li>
        <li><a href={{url_for('relatorioVendas')}}>Relatório de Vendas</a></li>
        <li><a href={{url_for('relatorioCompras')}}>Relatório de Compras</a></li>
    </ul>
    
    <h4>{{titulo}}</h4>
    <form action="/produto/editar/{{ produto.id }}" method="post">
        <p><label for="name">Nome</label></p>
        <input type="text" id="name" name="name" value="{{ produto.name }}">

        <p><label for="description">Desc</label></p>
        <textarea rows="4" cols="50" id="description" name="description">{{ produto.description }}</textarea>

        <p><label for="quantity">Quantidade</label></p>
        <input type="text" id="quantity" name="quantity" value="{{ produto.quantity }}">

        <p><label for="price">Preco</label></p>
        <input type="text" id="price" name="price" value="{{ produto.price }}">
        
        <p><label for="category">Categoria</label></p>
        <select id="category" name="category">
            {% for categoria in categorias %} 
                <option value="{{ categoria.id }}" {% if categoria.id == produto.category %}selected{% endif %}>
                    {{ categoria.name }}
                </option>
            {% endfor %}
        </select>
        <br>        
        <br>        
        <button type="submit">Editar</button>
    </form>

    <br>
    <a href={{url_for("produtos")}}>Cancelar</a>
</body>
</html>