<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
</head>
<body>
    <h2>Navegação</h2>
    <ul>
        <li><a href={{url_for('index')}}>Início</a></li>
        <li><a href={{url_for('favoritos')}}>Favoritos</a></li>
        <li><a href={{url_for('usuario')}}>Usuário</a></li>
        <li><a href={{url_for('produtos')}}>Produtos</a></li>
        <li><a href={{url_for('categoria')}}>Configurar Categoria</a></li>
        <li><a href={{url_for('relatorioVendas')}}>Relatório de Vendas</a></li>
        <li><a href={{url_for('relatorioCompras')}}>Relatório de Compras</a></li>
    </ul>

    <h1>{{titulo}}</h1>

    <h2>{{error}}</h2>

    <form action="/login" method="post">
        <p><label for="email">Email</label></p>
        <input type="email" id="email" name="email">

        <p><label for="password">Senha</label></p>
        <input type="password" id="password" name="password">
        <br>
        <br>
        <button type="submit">Entrar</button>
    </form>
</body>
</html>