<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
</head>
<body>
    <h1>{{titulo}}</h1>

    <ul>
        <li><a href={{url_for('index')}}>Início</a></li>
        <li><a href={{url_for('favoritos')}}>Favoritos</a></li>
        <li><a href={{url_for('usuario')}}>Usuário</a></li>
        <li><a href={{url_for('produtos')}}>Produtos</a></li>
        <li><a href={{url_for('cadastroProduto')}}>Cadastrar Produto</a></li>
        <li><a href={{url_for('configCategoria')}}>Configurar Categoria</a></li>
        <li><a href={{url_for('relatorioVendas')}}>Relatório de Vendas</a></li>
        <li><a href={{url_for('relatorioCompras')}}>Relatório de Compras</a></li>
    </ul>
</body>
</html>