<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
</head>

<body>
    <h1>{{titulo}}</h1>

<ul>
        <li><a href={{url_for('index')}}>Início</a></li>
        <li><a href={{url_for('favoritos')}}>Favoritos</a></li>
        <li><a href={{url_for('usuario')}}>Usuário</a></li>
        <li><a href={{url_for('produtos')}}>Produtos</a></li>
        <li><a href={{url_for('categoria')}}>Configurar Categoria</a></li>
        <li><a href={{url_for('relatorioVendas')}}>Relatório de Vendas</a></li>
        <li><a href={{url_for('relatorioCompras')}}>Relatório de Compras</a></li>
    </ul>

    <form action="/usuario/novo" method="post">
        <p><label for="name">Username:</label></p>
        <input type="text" id="name" name="name" required>
        <p><label for="email">Email:</label></p>
        <input type="email" id="email" name="email" required>
        <p><label for="password">password:</label></p>
        <input type="password" id="password" name="password" required>
        <p><label for="address">Endereço:</label></p>
        <input type="text" id="address" name="address" required>
        <br>
        <br>
        <button type="submit">Cadastrar</button>
    </form>

    <h2>Lista de usuários</h2>
    <ul>
        {% for usuario in usuarios %}
            <li>Nome: {{usuario.name}} - Email: {{usuario.email}} - Senha: {{usuario.password}} - Endereço: {{usuario.address}} - <a href={{url_for('buscarUsuario', id=usuario.id)}}>VER DETALHES</a> - <a href={{url_for('editarUsuario', id=usuario.id)}}>EDITAR</a> - <a href={{url_for('deletarUsuario', id=usuario.id)}}>DELETAR</a></li>
        {% endfor %}
    </ul>
</body>
</html>